{
    "trailingComma": "es5",
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "quoteProps": "preserve",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "editorconfig": true,
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "vueIndentScriptAndStyle": false,
    "singleAttributePerLine": false,
    "endOfLine": "lf"
}
